/* This is part of Isabella: the universal colour scheme
 * 
 * https://github.com/isabella-theme
 * 
 * Author: Tiamarth
 * 
 * - https://github.com/Tiamarth
 * - http://tiamarth.com/
 * 
 * LICENSE: GNU General Public License v3.0
 * 
 */
/* includes the window button file if it exists */
@import "window-buttons/isabella-buttons.css";
/*@import "window-buttons/adwaita-buttons.css";*/
/* ~ pallete ~ */
body {
    --windowBorder: 1px solid;
    --windowBorderMaximized: initial;
    --fullscreenTitlebar: none;
    --rounderRadius: 10px;
    --animated: 0.2s ease-in-out;
    --animatedNot: 0s;
    --animatedUntil: 0s;
    --white: #fff;
    --black: #000;
    --transparent: #00000000;
    --tabHeaderOpacityHibernated: 0.5;
    --urlVignette: inset 0 0 10px #00000026;
    --colorWindowBorder: var(--colorBg);
    --colorWindowBorderAccentBehindTabs: var(--colorAccentBg);
    --colorTabHoverBg: #54545454;
    --colorTabHoverBgLight: #6f6f6f47;
    --colorIndicatorBg: #d2d2d287;
    --colorIndicatorActiveBg: #fff;
    --colorIndicatorBgLight: #00000059;
    --colorIndicatorActiveBgLight: #000;
    --colorIndicatorHoverBg: var(--colorHighlightBg);
    --colorToolbarButtonHover: var(--colorTabHoverBg);
    --colorUrlFocusFg: var(--colorHighlightFg);
    --colorUrlFocusBg: var(--colorHighlightBg);
    --colorUrlLoadBg: var(--colorFgAlpha);
    --colorPanelBg: var(--colorAccentBgDark);
    --colorPanelFg: var(--colorAccentFg);
    --colorPanelButtonHoverBg: #29292d;
    --colorPanelButtonHoverBgLight: #f0f0f0c7;
    --colorPanelContentBg: #333335;
    --colorFaviconBorder: #8686868c;
    --colorFaviconBorderHibernated: #c7c7c782;
    /* values that overwrite vivaldi default values */
    background-color: #000 !important;
}
/* ~ window border and titlebar ~ */
#browser {
    border: var(--windowBorder);
    border-top: 0;
    border-color: var(--colorWindowBorder);
}
#browser.color-behind-tabs-on {
    border-color: var(--colorWindowBorderAccentBehindTabs);
}
#browser.maximized,#browser.fullscreen {padding: var(--windowBorderMaximized);}
#browser.fullscreen #header {display: var(--fullscreenTitlebar);}
.tabs-top:not(.mac).color-behind-tabs-on #tabs-container,
.tabs-top.mac.color-behind-tabs-on #tabs-container {
    background-image: none;
}
/* ~ animations ~ */
/* can't transition vivaldi icon for some reason */
/* .vivaldi-v svg path, */
button,input,textarea,svg,path,.tab,.addressfield,.searchfield,.status-info {
    transition: var(--animated) !important;
    transition-delay: var(--animatedUntil) !important;
}
/* don't animate if user disables in settings */
#browser.animation-off {transition: var(--animatedNot);}
/* ~ tabs ~ */
/* adjust spacing to better resemble epiphany */
#header {height: 42px;}
.vivaldi-v {margin-top: 5px;}
#tabs-container {padding-top: 5px !important;}
.tab-strip {height: 37px;}
.tab-header {margin-top: 3px;}
/* reset the above css if user has disabled tab spacing in maximized windows */
.tabs-at-edge #header {height: initial;}
.tabs-at-edge .vivaldi {margin-top: initial;}
.tabs-at-edge #tabs-container {padding-top: initial !important;}
.tabs-at-edge .tab-strip {height: initial;}
.tabs-at-edge .tab-header {margin-top: initial;}
/* compensate for dark favicons on dark themes */
.tab.isdiscarded .tab-header {
    opacity: var(--tabHeaderOpacityHibernated) !important;
}
#browser.theme-light.acc-dark.color-behind-tabs-on .favicon,
.tab .tab-header .favicon.jstest-favicon-image {
    filter:
      drop-shadow(1px 0 0 var(--colorFaviconBorder))
      drop-shadow(-1px 0 0 var(--colorFaviconBorder))
      drop-shadow(0 1px 0 var(--colorFaviconBorder))
      drop-shadow(0 -1px 0 var(--colorFaviconBorder))
      !important;
}
.tab.isdiscarded .tab-header .favicon.jstest-favicon-image {
    filter:
      drop-shadow(1px 0 0 var(--colorFaviconBorderHibernated))
      drop-shadow(-1px 0 0 var(--colorFaviconBorderHibernated))
      drop-shadow(0 1px 0 var(--colorFaviconBorderHibernated))
      drop-shadow(0 -1px 0 var(--colorFaviconBorderHibernated))
      !important;
}
/* tab colors */
.tab:not(.active):hover {background: var(--colorTabHoverBg) !important;}
.theme-light .tab:not(.active):hover {
    background: var(--colorTabHoverBgLight) !important;
}
#tabs-container .tab.tab-small.audio-on .tab-audio {
    background-color: var(--colorHighlightBg);
}
.tab-small .audioicon {filter: invert(1);}
/* stacks */
.tab-indicator {border-bottom: 1px solid var(--transparent) !important;}
.tab-indicator {background-color: var(--colorIndicatorBg) !important;}
.tab-indicator.active {
    background-color: var(--colorIndicatorActiveBg) !important;
}
#browser.theme-light .tab-indicator {
    background-color: var(--colorIndicatorBgLight) !important;
}
#browser.theme-light .tab-indicator.active {
    background-color: var(--colorIndicatorActiveBgLight) !important;
}
#browser.theme-light.acc-dark.color-behind-tabs-on .tab-indicator {
    background-color: var(--colorIndicatorBg) !important;
}
#browser.theme-light.acc-dark.color-behind-tabs-on .tab-indicator.active {
    background-color: var(--colorIndicatorActiveBg) !important;
}
.tab-indicator:hover,#browser.theme-light.acc-light .tab-indicator:hover {
    background-color: var(--colorIndicatorHoverBg) !important;
}
/* far right tab bar buttons */
.newtab,.toolbar.toolbar-tabbar.toolbar-noflex.sync-and-trash-container {
    margin-top: 3px;
}
.toolbar.toolbar-tabbar.toolbar-noflex.sync-and-trash-container {
    margin-right: 20px;
}
.newtab.button-toolbar button:hover,
.synced-tabs-button.button-toolbar button:hover,
.toggle-trash.button-toolbar button:hover {
    fill: var(--colorHighlightFg);
    transition: var(--animated);
    transition-delay: var(--animatedUntil);
}
/* ~ address bar ~ */
/* adjust spacing to better resemble epiphany */
.toolbar-mainbar {height: 32px;}
.address-top .toolbar-mainbar .button-toolbar {top: -1px;}
.addressfield,.searchfield {border-radius: var(--rounderRadius) !important;}
.toolbar-mainbar.toolbar-large button:hover,
.toolbar-extensions .button-toolbar button:hover {
    background-color: var(--colorToolbarButtonHover);
}
/* url and search colours */
.addressfield,.searchfield {
    border-color: transparent !important;/* ignores local variables for some reason */
}
/* when focus */
.addressfield:focus-within,.searchfield:focus-within {
    color: var(--colorUrlFocusFg);
    background: var(--colorUrlFocusBg);
    box-shadow: var(--urlVignette) !important;
}
.addressfield:focus-within ::placeholder,
.searchfield:focus-within ::placeholder {
    color: var(--colorUrlFocusFg);
}
.url::selection,.searchfield-input::selection {
    color: var(--colorUrlFocusBg);
    background: var(--colorUrlFocusFg);
}
/* load progress indicator */
.pageload-indicator {
    background-color: var(--colorUrlLoadBg) !important;
    border-radius: var(--rounderRadius) !important;
}
.pageload.progress-done {display: none;}
/* url and search buttons */
.addressfield .button-toolbar,.searchfield .button-toolbar {margin-top: 2.5px;}
.addressfield [title='sensors'] {margin-top: 1.5px;}
.addressfield:focus-within .addressfield-siteinfo.internal .siteinfo-symbol svg path {
    fill: var(--colorUrlFocusFg);
    color: var(--colorUrlFocusFg);
}
.addressfield-siteinfo,.siteinfo-symbol {
    border-top-left-radius: var(--rounderRadius) !important;
    border-bottom-left-radius: var(--rounderRadius) !important;
}
.searchfield .button-toolbar .button-pressed,
.addressfield .button-toolbar .button-pressed {
    background: var(--colorHighlightBgDark) !important;
    border-color: var(--colorHighlightBgDark) !important;
}
.addressfield .button-toolbar .button-on svg path {
    fill: var(--colorHighlightBg);
}
.searchfield .button-toolbar:hover svg path,
.addressfield .button-toolbar .button-on:hover svg path {
    fill: var(--colorHighlightFg) !important;
}
.addressfield .button-toolbar button,.searchfield .button-toolbar button {
    border-radius: var(--rounderRadius) !important;
}
.addressfield .button-toolbar button:hover,
.searchfield .button-toolbar button:hover {
    background-color: var(--colorHighlightBgDark);
    border: var(--transparent) !important;
}
.addressfield .button-toolbar button:hover svg path,
.searchfield .button-toolbar button:hover svg path {
    fill: var(--colorHighlightFg);
}
.searchfield:focus-within .button-toolbar svg path,
.addressfield:focus-within .button-toolbar svg path {
    fill: var(--colorHighlightFg) !important;
}
.button-badge {
    color: var(--colorHighlightFg) !important;
    background-color: var(--colorHighlightBg) !important;
}
/* bookmark bar */
.bookmark-bar-top .toolbar-mainbar:after {display: none;}
.bookmark-bar,.bookmark-bar .observer button {
    background-color: var(--colorAccentBg);
}
.color-behind-tabs-on .bookmark-bar,
.color-behind-tabs-on .bookmark-bar .observer button {
    background-color: var(--colorBg);
}
/* finder */
.find-in-page {justify-content: initial;}
.fip-input-label {display: none;}
.find-in-page .fip-input-container input:focus-within {
    color: var(--colorHighlightFg);
    background-color: var(--colorHighlightBg);
}
/* speed dial */
/* navigation */
.startpage-navigation {min-height: 0 !important;}
.active.button-startpage {
    color: var(--colorHighlightFg) !important;
    background-color: var(--colorHighlightBg);
}
/* thumbs */
.speeddial {margin-top: 20px;}
.startpage-content button.button-title {
    box-shadow: 0 2px 2px #292929b3 !important;
}
.startpage-content button.button-title {
    color: var(--colorHighlightFg) !important;
    background-color: var(--colorHighlightBg) !important;
}
/* back button */
.startpage .startpage-folder-navigation {margin-top: -20px;}
.startpage .startpage-folder-navigation button,
.startpage .startpage-folder-navigation button:hover {
    color: var(--colorHighlightFg);
    background-color: var(--colorHighlightBg);
}
.startpage .startpage-folder-navigation button svg {
    fill: var(--colorHighlightFg);
}
button.button-startpage:after {display: none;}
.startpage .startpage-folder-navigation button:hover {filter: brightness(150%);}
/* bookmarks with no thumbnail */
.startpage-content .thumbnail .thumbnail-image {
    background-image: linear-gradient(125deg,var(--colorHighlightBgAlpha) 0%,var(--colorHighlightBgAlpha) 80%);
}
.cb-image svg .bookmark-shadow,.thumbnail-image svg .bookmark-shadow {
    display: none;
}
.cb-image svg .bookmark-shape,
.thumbnail-image svg .bookmark-shape,
#sd-bookmark {
    fill: var(--colorHighlightFg);
}
/* panel */
#switch {background-color: var(--colorPanelBg);}
#switch button svg path,#switch button svg rect {fill: var(--colorPanelFg);}
#switch button.active svg path {fill: inherit;}
#switch button:not(.active):hover {
    background-color: var(--colorPanelButtonHoverBgLight);
}
.theme-dark #switch button:not(.active):hover,
.theme-light.acc-dark.color-behind-tabs-on #switch button:not(.active):hover {
    background-color: var(--colorPanelButtonHoverBg) !important;
}
/* panel content */
.panel-group input:focus-within,
.panel-group textarea:focus-within,
.panel-group textarea.note.editor:focus-within,
.panel-group input:focus-within:hover {
    color: var(--colorHighlightFg);
    background-color: var(--colorHighlightBg) !important;
}
.speeddial-bookmarksbar input:focus-within,
.speeddial-bookmarksbar input:focus-within:hover {
    background-color: var(--colorBg);
}
.theme-dark .tree-row .audioicon {filter: invert(1);}
/* status overlay */
.status-info {
    color: var(--colorHighlightFg) !important;
    background: var(--colorHighlightBg) !important;
    border: 0 !important;
    box-shadow: 0 0 3px #000000ab;
}
