/* This is part of Isabella: the universal colour scheme
 * 
 * https://github.com/Tiamarth/Isabella
 * 
 * Author: Tiamarth
 * 
 * - https://github.com/Tiamarth
 * - http://tiamarth.com/
 * 
 * LICENSE: GNU General Public License v3.0 | https://github.com/Tiamarth/Arc-for-Vivaldi/blob/master/LICENSE
 * 
 */
/* includes the window button file if it exists */
@import "isabella-window-buttons.css";
/* ~ pallete ~ */
body {
    --windowBorder: 0 1px 1px 1px;
    --windowBorderMaximized: initial;
    --fullscreenTitlebar: none;
    --rounderRadius: 10px;
    --animated: 0.2s ease-in-out;
    --animatedNot: 0s;
    --animatedUntil: 0s;
    --white: #fff;
    --black: #000;
    --transparent: #00000000;
    --colorTabHoverBg: #54545454;
    --colorTabHoverBgLight: #6f6f6f47;
    --colorIndicatorBg: #d2d2d287;
    --colorIndicatorActiveBg: #fff;
    --colorIndicatorBgLight: #00000059;
    --colorIndicatorActiveBgLight: #000;
    --colorIndicatorHoverBg: var(--colorHighlightBg);
    --colorToolbarButtonHover: var(--colorTabHoverBg);
    --colorUrlFocusFg: var(--colorHighlightFg);
    --colorUrlFocusBg: var(--colorHighlightBg);
    --colorUrlLoadBg: var(--colorFgAlpha);
    --urlVignette: inset 0 0 10px #00000026;
    --colorFaviconBorder: #8686868c;
    --colorFaviconBorderHibernated: #c7c7c782;
    --faviconOpacityHibernated: 0.3;
    /* values that overwrite vivaldi default values */
    --colorAccentBgDark: var(--transparent) !important;
    background-color: #000 !important;
}
/* ~ window border and titlebar ~ */
#browser {padding: var(--windowBorder);}
#browser.maximized,#browser.fullscreen {padding: var(--windowBorderMaximized);}
#browser.fullscreen #header {display: var(--fullscreenTitlebar);}
/* ~ animations ~ */
.tab-position .tab,.tab-indicator,.toolbar.toolbar-droptarget.toolbar-mainbar.toolbar-noflex.toolbar-large button,.toolbar-extensions .button-toolbar button,.addressfield,.searchfield,.addressfield-siteinfo,
.addressfield-siteinfo.internal svg,.addressfield-siteinfo.internal path,.siteinfo-symbol,.addressfield .button-toolbar button,.addressfield .button-toolbar svg path,.searchfield .button-toolbar svg path,
.newtab.button-toolbar button,.synced-tabs-button.button-toolbar button,.toggle-trash.button-toolbar button,
.searchfield .button-toolbar button {
    transition: var(--animated);
    transition-delay: var(--animatedUntil);
}
/* don't animate if user disables in settings */
#browser.animation-off {transition: var(--animatedNot);}
/* ~ tabs ~ */
/* adjust spacing to better resemble epiphany */
#header {height: 42px;}
.vivaldi {margin-top: 3px;}
#tabs-container {padding-top: 5px !important;}
.tab-strip {height: 37px;}
.tab-header {margin-top: 3px;}
/* reset the above css if user has disabled tab spacing in maximized windows */
.tabs-at-edge #header {height: initial;}
.tabs-at-edge .vivaldi {margin-top: initial;}
.tabs-at-edge #tabs-container {padding-top: initial !important;}
.tabs-at-edge .tab-strip {height: initial;}
.tabs-at-edge .tab-header {margin-top: initial;}
/* compensate for dark favicons on flat remix darkest */
#browser.theme-light.acc-dark.color-behind-tabs-on .favicon,
.tab .tab-header .favicon.jstest-favicon-image {
    filter:
      drop-shadow(1px 0 0 var(--colorFaviconBorder))
      drop-shadow(-1px 0 0 var(--colorFaviconBorder))
      drop-shadow(0 1px 0 var(--colorFaviconBorder))
      drop-shadow(0 -1px 0 var(--colorFaviconBorder))
      !important;
}
#browser.theme-light.acc-dark.color-behind-tabs-on .favicon,
.tab.isdiscarded .tab-header .favicon.jstest-favicon-image {
    opacity: var(--faviconOpacityHibernated) !important;
    filter:
      drop-shadow(1px 0 0 var(--colorFaviconBorderHibernated))
      drop-shadow(-1px 0 0 var(--colorFaviconBorderHibernated))
      drop-shadow(0 1px 0 var(--colorFaviconBorderHibernated))
      drop-shadow(0 -1px 0 var(--colorFaviconBorderHibernated))
      !important;
}
/* tab colors */
.tab:not(.active):hover {background: var(--colorTabHoverBg) !important;}
.theme-light .tab:not(.active):hover {background: var(--colorTabHoverBgLight) !important;}
/* stacks */
.tab-indicator {border-bottom: 1px solid var(--transparent) !important;}
.tab-indicator {background-color: var(--colorIndicatorBg) !important;}
.tab-indicator.active {background-color: var(--colorIndicatorActiveBg) !important;}
#browser.theme-light .tab-indicator {background-color: var(--colorIndicatorBgLight) !important;}
#browser.theme-light .tab-indicator.active {background-color: var(--colorIndicatorActiveBgLight) !important;}
#browser.theme-light.acc-dark.color-behind-tabs-on .tab-indicator {background-color: var(--colorIndicatorBg) !important;}
#browser.theme-light.acc-dark.color-behind-tabs-on .tab-indicator.active {background-color: var(--colorIndicatorActiveBg) !important;}
.tab-indicator:hover,#browser.theme-light.acc-light .tab-indicator:hover {background-color: var(--colorIndicatorHoverBg) !important;}
/* far right tab bar buttons */
.newtab,.toolbar.toolbar-tabbar.toolbar-noflex.sync-and-trash-container {margin-top: 3px;}
.toolbar.toolbar-tabbar.toolbar-noflex.sync-and-trash-container {margin-right: 15px;}
.newtab.button-toolbar button:hover,.synced-tabs-button.button-toolbar button:hover,.toggle-trash.button-toolbar button:hover {
    fill: var(--colorHighlightFg);
    transition: var(--animated);
    transition-delay: var(--animatedUntil);
}
/* ~ address bar ~ */
/* adjust spacing to better resemble epiphany */
.toolbar-mainbar {height: 32px;}
.address-top .toolbar-mainbar .button-toolbar {top: -1px;}
.addressfield,.searchfield {border-radius: var(--rounderRadius) !important;}
.toolbar.toolbar-droptarget.toolbar-mainbar.toolbar-noflex.toolbar-large button:hover,
.toolbar-extensions .button-toolbar button:hover {
    background-color: var(--colorToolbarButtonHover);
}
/* url and search colours */
.addressfield,.searchfield {border-color: transparent !important;}/* ignores local variables */
/* when focus */
.addressfield:focus-within,.searchfield:focus-within {
    color: var(--colorUrlFocusFg);
    background: var(--colorUrlFocusBg);
    box-shadow: var(--urlVignette) !important;
}
.addressfield:focus-within ::placeholder,.searchfield:focus-within ::placeholder {color: var(--colorUrlFocusFg);}
.url::selection,.searchfield-input::selection {
    color: var(--colorUrlFocusBg);
    background: var(--colorUrlFocusFg);
}
/* load progress indicator */
.pageload-indicator {
    background-color: var(--colorUrlLoadBg) !important;
    border-radius: var(--rounderRadius) !important;
}
.pageload.progress-done {display: none;}
/* url and search buttons */
.addressfield .button-toolbar,.searchfield .button-toolbar {margin-top: 2.5px;}
.addressfield [title='sensors'] {margin-top: 1.5px;}
.addressfield:focus-within .addressfield-siteinfo.internal .siteinfo-symbol svg path{
    fill: var(--colorUrlFocusFg);
    color: var(--colorUrlFocusFg);
}
.addressfield-siteinfo,.siteinfo-symbol {
    border-top-left-radius: var(--rounderRadius) !important;
    border-bottom-left-radius: var(--rounderRadius) !important;
}
.searchfield .button-toolbar .button-pressed,
.addressfield .button-toolbar .button-pressed {
    background: var(--colorHighlightBgDark) !important;
    border-color: var(--colorHighlightBgDark) !important;
}
.addressfield .button-toolbar svg path,.searchfield .button-toolbar svg path {fill: var(--colorHighlightBg);}
.searchfield .button-toolbar:hover svg path,
.addressfield .button-toolbar:hover svg path,
.searchfield:focus-within .button-toolbar svg path,
.addressfield:focus-within .button-toolbar svg path {
    fill: var(--colorHighlightFg) !important;
}
.addressfield .button-toolbar button,.searchfield .button-toolbar button {border-radius: var(--rounderRadius) !important;}
.addressfield .button-toolbar button:hover,.searchfield .button-toolbar button:hover {
    background-color: var(--colorHighlightBgDark);
    border: var(--transparent) !important;
}
