/* https://github.com/Tiamarth/Isabella */
/* far right window buttons */
.newtab,.toolbar.toolbar-tabbar.toolbar-noflex.sync-and-trash-container {margin-top: 3px !important;}
.toolbar.toolbar-tabbar.toolbar-noflex.sync-and-trash-container {margin-right: 40px !important;}
/* ~ window buttons ~ */
/* better positioning on window buttons */
/* linux */
.linux .window-buttongroup {margin: 0 5px auto auto !important;}
.linux .window-maximize {margin-right: 9px !important;}
.linux .window-minimize {margin-right: 9px !important;}
.linux.tabs-at-edge.maximized .window-buttongroup {margin: 2px -10px auto auto !important;}
.linux #browser:not(.tabs-top) .window-buttongroup {margin-top: 4px !important;}
.linux #browser:not(.tabs-top).address-off .window-buttongroup,
.linux #browser:not(.tabs-top).address-bottom .window-buttongroup {margin-top: -1px !important;}
/* remove background on window buttons */
#browser .window-buttongroup button {
    height: 30px !important;
    background-color: transparent !important;
    background-position: center !important;
}
#browser .window-buttongroup button:hover {
    background-color: #373737 !important;
    box-shadow: 0 0 2px black !important;
}
.window-buttongroup button {width: 30px !important;}
.isblurred .window-buttongroup button {opacity: 0.7 !important;}
/* hide default window buttons svgs */
.window-buttongroup svg {display: none !important;}
/* apply adwaita window buttons */
.window-minimize,.window-minimize:hover,.window-minimize:hover:active {background: url('adwaita-buttons/window-minimize-dark.png') no-repeat !important;}
.window-maximize,.window-maximize:hover,.window-maximize:hover:active {background: url('adwaita-buttons/window-maximize-dark.png') no-repeat !important;}
.window-close,.window-close:hover,.window-close:hover:active {background: url('adwaita-buttons/window-close-dark.png') no-repeat !important;}
/* on dark theme */
.acc-dark.color-behind-tabs-on .window-minimize,.theme-dark .window-minimize,
.acc-dark.color-behind-tabs-on .window-minimize:hover,.theme-dark .window-minimize:hover,
.acc-dark.color-behind-tabs-on .window-minimize:hover:active,.theme-dark .window-minimize:hover:active {
    background: url('adwaita-buttons/window-minimize.png') no-repeat !important;
}
.acc-dark.color-behind-tabs-on .window-maximize,.theme-dark .window-maximize,
.acc-dark.color-behind-tabs-on .window-maximize:hover,.theme-dark .window-maximize:hover,
.acc-dark.color-behind-tabs-on .window-maximize:hover:active,.theme-dark .window-maximize:hover:active {
    background: url('adwaita-buttons/window-maximize.png') no-repeat !important;
}
.acc-dark.color-behind-tabs-on .window-close,.theme-dark .window-close,
.acc-dark.color-behind-tabs-on .window-close:hover,.theme-dark .window-close:hover,
.acc-dark.color-behind-tabs-on .window-close:hover:active,.theme-dark .window-close:hover:active {
    background: url('adwaita-buttons/window-close.png') no-repeat !important;
}
/* on light theme dark accent behind tabs */
#browser:not(.tabs-top).acc-dark.color-behind-tabs-on .window-minimize,
#browser:not(.tabs-top).acc-dark.color-behind-tabs-on .window-minimize:hover,
#browser:not(.tabs-top).acc-dark.color-behind-tabs-on .window-minimize:hover:active {
    background: url('adwaita-buttons/window-minimize.png') no-repeat !important;
}
#browser:not(.tabs-top).acc-dark.color-behind-tabs-on .window-maximize,
#browser:not(.tabs-top).acc-dark.color-behind-tabs-on .window-maximize:hover,
#browser:not(.tabs-top).acc-dark.color-behind-tabs-on .window-maximize:hover:active {
    background: url('adwaita-buttons/window-maximize.png') no-repeat !important;
}
#browser:not(.tabs-top).acc-dark.color-behind-tabs-on .window-close,
#browser:not(.tabs-top).acc-dark.color-behind-tabs-on .window-close:hover,
#browser:not(.tabs-top).acc-dark.color-behind-tabs-on .window-close:hover:active {
    background: url('adwaita-buttons/window-close.png') no-repeat !important;
}
